body {
    background: white;
    font-size: 14px;
    line-height: 1.2;
    font-family: Roboto, Arial, Helvetica;
}

h1,h2,h3,h4 {
    color: $text-primary;
    font-weight: 700;
}

img {
    max-width: 100%;
}

a {
    color: $text-primary;
}

section {
    font-size: 18px;

    .btn {
        max-width: 220px;
    }
}

.header {
    padding: 10px 15px;
    min-height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-first {
    padding: 20px 15px;
    color: $text-primary;
    background: url($path + 'dog.png') no-repeat center;
    background-size: cover;
    min-height: calc(100vh - 65px);

    .btn {
        font-size: 20px;
        line-height: 1.1;
    }
}

.section-header {
    font-size: 32px;
    font-weight: bold;
    margin: 0 0 20px 0;
}

.section-small {
    font-size: 18px;
    line-height: 21px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 150px;
}

.btn-to-bottom {
    background: url($path + 'down.svg') no-repeat right center;
    color: $text-primary;
    font-size: 20px;
    padding-right: 30px;
}

.section-head {
    text-align: center;
    padding: 20px 15px;
    font-size: 26px;
}

.worklist-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    padding-bottom: 20px;
}

.worklist-head {
    display: flex;
    align-items: center;
    padding: 20px 15px;
    font-size: 18px;
}

.worklist-content {
    min-width: 145px;
    width: 100%;
}

.worklist--mobile {
    text-align: left;

    .worklist-content {
        min-width: 60px;
    }
    .worklist-head {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.section3 {
    background: #E5E5E5;
    text-align: center;
    padding-bottom: 20px;

    .btn {
        max-width: 220px;
        font-size: 20px;
        line-height: 1.1;
    }
}

.section4 {
    text-align: center;
    padding-bottom: 20px;

    img {
        margin: 0px 15px 15px 0px;
    }

    .btn {
        max-width: 215px;
    }
}

.list-head {
    font-size: 20px;
}

.list-default {
    padding: 15px;
    color: $text-primary;
    text-align: left;

    li {
        position: relative;
        padding-left: 10px;

        &::before {
            content: '-';
            position: absolute;
            left: 0;
            top: -2px;
            font-size:20px;
            font-weight: bold;
        }
    }
    li + li {
        margin-top: 10px;
    }
}

.list-default-head {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    display: block;
    color: $text-primary;
    margin-bottom: 5px;
}

.section5 {
    background-color: #F2C4C4;
    color: $text-primary;
}

.section6 {
    background-color: $text-primary;
    color: white;
    padding-bottom: 20px;

    .section-head {
        color: white;
    }
}

.goto-form {
    background-color: white;
    margin: 15px;
    padding: 20px 15px;
    text-align: center;
    color: $text-primary;
    border: 2px solid #1d6c93;
    border-radius: $border-radius;
    box-shadow: $shadow-block;
}

.text-block {
    display: block;
    text-align: left;

    .list-head {
        color: white;
    }
}

.footer {
    padding: 30px 15px;
    text-align: center;
    color: $text-primary;
    background-color: $gray-light;
}

.contacts-item {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 16px;
    color: $text-primary;
    display: block;
    text-decoration: none;
}

.copy {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
